body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container {
    background-color: #fff;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

#calculator-container {
    background-color: #ecebeb;
    border: 0.125rem solid #c5c3c3;
    max-width: 21rem;
    height:90%;
    min-height: 27rem;
    margin-bottom: 3.125rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.625rem;
}

#title {
    font-size: 1rem;
}

#view-screen {
    background-color: #e9ecdf;
    border: 0.125rem solid hsl(0, 0%, 65%);
    margin-left: auto;
    margin-right: auto;
}

#total {
  margin-top: 0.5rem;
  font-weight: bold;
}

#accumulator {
  margin-top: 1rem;
  padding-right: 0.2rem;
}

.btn {
    margin-top: 0.625rem;
    width: 100%;
}

.btn-primary {
    border-radius: 0rem;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    padding: 0.75rem 1rem;
}

.btn, .btn:focus {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #555;
    border: none;
}

.btn:hover {
    background-color: #3a3a3a;
}

.btn:active {
    background-color: #555;
}

.btn-function, .btn-function:focus {
    background-color: #c30000;
}

.btn-function:active {
    background-color: #c30000;
}

.btn-function:hover {
    background-color: #630101;
}