.container {
    background-color: #fff;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

#calculator-container {
    background-color: #ecebeb;
    border: 0.125rem solid #c5c3c3;
    border-radius: 15px;
    max-width: 18.75rem;
    height:90%;
    min-height: 24rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.625rem;
    box-shadow: 7px 7px 5px grey;
}

#view-screen {
    background-color: #e9ecdf;
    border: 0.125rem solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-top: 0.625rem;
    width: 100%;
}

#equals-button {
    height: 95%;
}

.btn, .btn:focus {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
}

.btn:hover {
    background-color: #3a3a3a;
}

.btn:active {
    background-color: #555;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-function, .btn-function:focus {
    background-color: #c30000;
    box-shadow: 0 9px #ab8383;
}

.btn-function:active {
    background-color: #c30000;
    box-shadow: 0 5px #896a6a;
    transform: translateY(4px);
}

.btn-function:hover {
    background-color: #630101;
}

h5 {
    font-size: 1rem;
}